---
// Import any required components or data here
---

<section class="technologies">
  <div class="card">
    <h3>Programming</h3>
    <ul>
      <li>Html, css , Js <span class="note">web base</span></li>
      <li>Typescript</li>
      <li>c#</li>
      <li>sql <span class="note">sqlite, mysql</span></li>
    </ul>
  </div>
  <div class="card">
    <h3>Frameworks</h3>
    <ul>
      <li>React <span class="note">library</span></li>
      <li>NextJs</li>
      <li>ExpressJs</li>
      <li>NestJs</li>
  </div>
  <!-- <div class="card">
    <h3>OS</h3>
    <ul>
      <li>Endeavouros <span class="note">Arch Based distro</span></li>
      <li>Wayland <span class="note">System Protocol</span></li>
      <li>Wayland <span class="note">HyperDots</span></li>
    </ul>
  </div> -->
  <div class="card">
    <h3>Dev tools</h3>
    <ul>
      <li>Git & Github <span class="note">and gh cli</span></li>
      <li>VScode</li>
      <li>Nvim <span class="note">lazyvim</span></li>
      <li>tmux</li>
      <li>Postman</li>
      <li>Docker</li>
      <li>Jira</li>
    </ul>
  </div>
</section>

<style>
  .technologies {
    display: grid; 
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 1em;
    height: 100%;
  }
  .card {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  .note {
    font-size: small;
    font-style: italic;
    color: #504e4e;
  }
  .note::before {
    content: ' 📝 ';
  }
  .note::after {
    content: '`';
  }
    
  li::marker {
	color: #e3e6ee;
}
</style>
